.Youtube1 {
  display: flex;
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.App {
  font-family: sans-serif;
  text-align: justify;
  columns: 2;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.video-responsive {
  /* overflow: hidden; */
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
